
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<div>
    <h2>Chào mừng đến với trang quản trị web bán hàng văn phòng phẩm (Nhóm 3)  - ASP.NET</h2>
</div>

